.container {
    display: flex;
    justify-content: center;
    align-items: center; 
   
  }
  
  .formulario {
    width: 400px; 
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
  }
  
form {
    margin: 100px 0 0 0;
    button{
        float: right;
    }
  }

  section {
    margin-top: 50px;
    display: flex;
    @extend .gradete;
    width: 400px;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap:20px;
    img {
        width: $ancho-imagen-svg;
        height: $alto-imagen-svg;
        transition: transform $duracion-animacion ease-in-out;
    }
    img:hover {
        transform: rotate($angulo-final * 1deg); // Multiplicamos por 1deg para convertir el ángulo a grados
      }
}